page-note-view {

}


h2{
  font-family: 'Fjalla One', sans-serif;
  color: black;
  text-transform: uppercase;
  font-size: 1.5em !important;
}

p{
  font-family: "Noto Sans", sans-serif;
  color: black;
  font-size: 0.8em !important;
}

.information {
  color: black;
}

.view{
  padding-left: 20%;
}

button {
  color: #eaeaea !important;
}