page-note-view {

}

.page{
  background-image: url('wood.jpg');
}

h3{
  font-family: "Noto Sans", sans-serif;
  padding: 0;
  margin: 0;
  color: black;
//  text-transform: uppercase;
}

p{
  font-family: "Noto Sans", sans-serif;
  color: black;
  font-size: 0.8em !important;
}

.information {
  color: black;
}

#price{
  text-align: right;

}

button {
  color: #eaeaea !important;
}

.blur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

#blur_cover {
width: inherit;
height: inherit;
  background-color: transparent;
}
