// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Named Color Variables
// --------------------------------------------------

$tabs-background: #00f1ff;
$toolbar-background: #00f1ff;

$colors: (
  primary:    #41325B,
  secondary:  #008080,
  danger:     #f53d3d,
 // light:      #f4f4f4,
  dark:       #222
);


button{
  background-color: #000000;
  margin: 5px;
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$item-ios-detail-push-show: true;
.ios button{
  color: #eaeaea ;
}

.toolbar-title-ios {
  font-family: 'Fjalla One', sans-serif !important;
  text-transform: uppercase;
  font-size: 1.8em !important;
}

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

.md button{
  background-color: #000000;
}

.toolbar-title-md {
  font-family: 'Fjalla One', sans-serif !important;
  text-transform: uppercase;
  font-size: 1.8em !important;
}

// App Theme
// --------------------------------------------------
@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
@import "ionic.ionicons";


// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
