page-home {

	h2{
		font-family: 'Fjalla One', sans-serif;
		color: #eae8e8;
		text-transform: uppercase;
		font-size: 1.5em !important;
	}

	p{
		font-family: 'Cantarell', sans-serif;
		color: lightgray;
		font-size: 0.8em !important;
	}

	button{
		background-color: #000000 !important;
	}

	#myInput {
		width: 80%;
		font-size: 12px;
		padding: 12px 20px 12px 10px;
		border: 1px solid #ddd;
		font-family: 'Cantarell', sans-serif;
	}

	#searcher{
		width: 50px;
		height: 20px;
		background-color: yellow;
		font-size: .2em;
		color: green;
	}
}


